data/
notebooks/anaconda_projects
notebooks/.virtual_documents
notebooks/.ipynb_checkpoints
*.zip
.venv/
notebooks_abhishek/.ipynb_checkpoints
notebooks_abhishek/dataset
/.virtual_documents
/anaconda_projects
catboost_info/
.ipynb_checkpoints